<div class="container">
    <div class="row">
        <div ngbAccordion id="abilities">
            <div ngbAccordionItem [collapsed]="false">
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Habilidades Técnicas</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            C# <br>
                            JavaScript <br>
                            Java <br>
                            Unity <br>
                            Lua <br>
                            Python <br>
                        </ng-template>
                    </div>
                </div>
            </div>
            <div ngbAccordionItem>
                <h2 ngbAccordionHeader>
                    <button ngbAccordionButton>Soft Skills</button>
                </h2>
                <div ngbAccordionCollapse>
                    <div ngbAccordionBody>
                        <ng-template>
                            Perseverante
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>